---
import { Head } from "@mannisto/astro-metadata"
---

<html>
  <Head
    title="My Page"
    description={false}
    canonical={false}
    keywords={false}
    image={false}
    robots={false}
    openGraph={false}
    twitter={false}
    favicon={false}
    schema={false}
    languageAlternates={false}
  />
  <body> </body>
</html>
